
$lh-base: 1.4;
$f-base: 18;

$f-sans: Consolas, monospace;

$f-thin: 100;
$f-light-semi: 200;
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-bold-semi: 600;
$f-bold: 700;
$f-bold-extra: 800;
$f-black: 900;

:root {
	--h1: 2em;
	--h2: 1.8em;
	--h3: 1.6em;
	--h4: 1.4em;
	--h5: 1.2em;
	--h6: 1.1em;
}
